.FriendsBtn {
  height: 28px;
  min-width: 80px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  background-color: #43b581;
  font-weight: 600;
  margin-left: 10px;
}

.FriendsBtns {
  display: flex;
  width: 100%;
}
