.MainContainer {
  display: none;
}

@media only screen and (min-width: 800px) {
  .MainContainer {
    height: 100vh;
    width: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3136;
    left: 0;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .SideBarContents {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .RecentFriendsWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .RecentlyMessagedList {
    overflow-y: scroll;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .EnterFriendWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    line-height: 24px;
    border-bottom: 1px solid #202225;
    box-shadow: 1px 1px 10px #2022255b;
  }
  .EnterFriendWrapper input {
    background-color: #202225;
    width: 90%;
    height: 28px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #27292e;
    color: #dcddde;
    font-size: 14px;
    font-weight: 500px !important;
  }
  .EnterFriendWrapper input:hover {
    transition: ease-in 200ms;
    border: 1px solid #1b1b1b;
  }
  .EnterFriendWrapper input:focus {
    border: 1px solid #7289da;
  }
  .FriendsTab {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
    background-color: transparent;
    width: 224px;
    height: 42px;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 16px;
    color: #888e9b;
    cursor: pointer;
    margin-top: 20px;
  }
  .FriendsTab:hover {
    background-color: #36393f;
    color: #fff;
  }
  .DirectMessageTab {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 11px;
    padding: 18px 8px 4px 18px;
    font-weight: 500;
    position: relative;
  }

  .DirectMessageTab:hover {
    color: #fff;
  }
  .DirectMessageTab button {
    color: #aab0bd;
    font-size: 25px;
    position: absolute;
    right: 30px;
  }

  .FriendBar {
    min-height: 40px;
    width: 100%;
    border-radius: 4px;
    padding-left: 12px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: #3c3f47;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
  }

  .FriendBar:hover {
    background-color: #36393f;
  }

  .IsTyping {
    will-change: transform;
  }

  .IsTyping span {
    height: 10px;
    width: 10px;
    float: left;
    margin-right: 5px;
    background-color: #43b581;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: loadingFade 1s infinite;
  }

  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

  .RemoveFriendButton {
    background: none;
    color: #888e9b;
    font-size: 16px;
    outline: none;
    border: none;
    position: absolute;
    right: 10px;
  }
  .RemoveFriendButton:hover {
    transition: ease-in 100ms;
    color: #fff;
  }

  .ProfileBar {
    height: 52px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #292b2f;
    color: #fff;
  }
  .ProfileBar button {
    font-size: 16px;
    color: #aab0bd;
  }
  .ProfileBtns {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    gap: 10px;
    align-items: center;
  }

  .LogoutBtn:hover {
    transition: ease-in 200ms;
    color: rgb(240, 71, 71);
  }
}
