.MainContainer {
  display: none;
}

@media only screen and (min-width: 800px) {
  .MainContainer {
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #27292e;
    left: 0;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    z-index: 1;
  }
  .NavBtns {
    display: flex;
    flex-direction: row;
    gap: 1px;
  }
  .RecentlyMessagedList {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .RecentFriendsWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .NavBtns button {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #3c3f47;
    color: #fff;
    font-size: 20px;
  }
  .NavBtns button:hover {
    transition: ease-in 200ms;
    background-color: #43b581;
    opacity: 0.9;
  }
  .SideBarContents {
    display: flex;
    height: 90%;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .EnterFriendWrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
  }
  .EnterFriendWrapper input {
    background-color: #31333a;
    width: 80%;
    height: 40px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #27292e;
    color: #dcddde;
    font-size: 16px;
    margin-right: 5px;
  }
  .EnterFriendWrapper input:hover {
    transition: ease-in 200ms;
    border: 1px solid #1b1b1b;
  }
  .EnterFriendWrapper input:focus {
    border: 1px solid #7289da;
  }
  .PlusBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #43b581;
    color: #43b581;
    background-color: #31333a;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .PlusBtn:hover {
    transition: ease-in 200ms;
    border-radius: 10px;
    color: #fff;
    background-color: #43b581;
  }

  .FriendBar {
    min-height: 40px;
    width: 90%;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    gap: 60%;
    flex-direction: row;
    align-items: center;
    background-color: #3c3f47;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  .FriendBar:hover {
    opacity: 0.9;
  }
  .FriendBarLeft {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .IsTyping {
    will-change: transform;
  }

  .IsTyping span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #43b581;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: loadingFade 1s infinite;
  }

  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

  .FriendBarRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .RemoveFriendButton {
    background: none;
    color: #aab0bd;
    font-size: 16px;
    outline: none;
    border: none;
  }
  .RemoveFriendButton:hover {
    transition: ease-in 100ms;
    color: #fff;
  }

  .ProfileBar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d1e22;
    color: #fff;
    bottom: 0;
  }

  .ProfileBar button {
    background: none;
    color: #8d929b;
    font-size: 20px;
    outline: none;
    border: none;
  }

  .LogoutBtn:hover {
    transition: ease-in 200ms;
    color: rgb(240, 71, 71);
  }
}
